@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/copy/group.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
</head>

<div class="group_content">
    <h1>統計資料</h1>

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-xs-4" style="text-align:center;font-style:italic">
            <img src="~/Content/image/sta.jpg" style="width:140px;height:140px">
            <h2>紀錄統計</h2>
            <p>查看每個月活動</p>
            <p>統計資料</p>
            <p><a class="btn btn-info btn-lg mybtn2" href="~/manage/Data">請點我 &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-xs-4" style="text-align:center;font-style:italic">
                <img src="~/Content/image/money_money.jpg" style="width:140px;height:140px">
                <h2>金錢使用</h2>
                <p>查看每個月</p>
                <p>透支或是有盈餘</p>
                <p><a class="btn btn-info btn-lg mybtn2" href="~/manage/Money">請點我 &raquo;</a></p>
            </div>





        </div>
</html>
