
<h3>@ViewBag.Message</h3>


<img src="~/Content/image/img10.jpg" style="width:1200px;height:480px">
<h3></h3>


<div class="row">
    <div class="col-md-4" style="text-align:center">
        <img src="~/Content/image/icon10.png" style="width:140px;height:140px">
        <h2>資料庫系統</h2>
        <p> 存取使用者資料</p>
        <p> 讓我們對其行為作了解判斷</p>

    </div>

    <div class="col-md-4" style="text-align:center">
        <img src="~/Content/image/icon11.png" style="width:140px;height:140px">
        <h2>行事曆系統</h2>
        <p> 透過手動輸入行事曆</p>
        <p> 預判行為增加準確性</p>

    </div>

    <div class="col-md-4" style="text-align:center">
        <img src="~/Content/image/icon12.png" style="width:140px;height:140px">
        <h2>記帳系統</h2>
        <p> 提醒使用者金錢觀念</p>
        <p> 使之月底不至於吃土</p>

    </div>
</div>
<div class="row">

    <div class="col-md-4" style="text-align:center">
        <img src="~/Content/image/icon14.png" style="width:140px;height:140px">
        <h2>自動記錄系統</h2>
        <p> 透過GPS偵測位置</p>
        <p> 記錄使用者的行為模式</p>

    </div>

    <div class="col-md-4" style="text-align:center">
        <img src="~/Content/image/icon15.png" style="width:140px;height:140px">
        <h2>自動提醒系統</h2>
        <p> 透過分析使用者行為模式予以提醒</p>
        <p> 使其提升生活品質</p>

    </div>


</div>
