@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/copy/group.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="~/Content/copy/jquery-1.8.3.min.js"></script>
    <script src="~//Content/copy/contact.js"></script>
    <title></title>
</head>
<body>
    <div class="group">
        <div class="container">
            <div class="group_content">
                <h1>開發團隊</h1>
                <span> </span>
                <div class="group_input">
                    <table class="group_table">
                        <tbody>
                            <tr>
                                <td class="group_td_01">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="group_td_01"><img src="~/Content/image/yang.jpg" class="group_image"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="group_td_02">
                                    <table class="group_td_02_table" width:80%;border-spacing:="" 0px="" 10px;="">
                                        <tbody>
                                            <tr><td class="group_table_td">楊東麟教授</td></tr>
                                            <tr><td class="group_table_td">指導教授</td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="group_table">
                        <tbody>
                            <tr>
                                <td class="group_td_01">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="group_td_01"><img src="~/Content/image/louis.jpg" class="group_image"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="group_td_02">
                                    <table class="group_td_02_table" width:80%;border-spacing:="" 0px="" 10px;="">
                                        <tbody>
                                            <tr><td class="group_table_td">李明哲同學</td></tr>
                                            <tr><td class="group_table_td">組員</td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="group_table">
                        <tbody>
                            <tr>
                                <td class="group_td_01">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="group_td_01"><img src="~/Content/image/lewis.jpg" class="group_image"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="group_td_02">
                                    <table class="group_td_02_table" width:80%;border-spacing:="" 0px="" 10px;="">
                                        <tbody>
                                            <tr><td class="group_table_td">莊育豪同學</td></tr>
                                            <tr><td class="group_table_td">組員</td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="group_table">
                        <tbody>
                            <tr>
                                <td class="group_td_01">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="group_td_01"><img src="~/Content/image/chen.jpg" class="group_image"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="group_td_02">
                                    <table class="group_td_02_table" width:80%;border-spacing:="" 0px="" 10px;="">
                                        <tbody>
                                            <tr><td class="group_table_td">李霽烝同學</td></tr>
                                            <tr><td class="group_table_td">組員</td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <link href="css/menu_Bottom.css" rel="stylesheet" type="text/css">
        <link href="css/shared.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-1.8.3.min.js"></script>

      

    </div>
</body>
</html>
